.u-title-main {
  font-family: var(--font-primary);
  font-size: var(--font-size-hero); /* 72px */
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

.u-title-section {
  font-family: var(--font-primary);
  font-size: var(--font-size-xl); /* 36px */
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

.u-title-card {
  font-family: var(--font-primary);
  font-size: var(--font-size-lg); /* 21px */
  line-height: 1.3;
  font-weight: var(--font-weight-bold);
}

.u-text-large {
  font-family: var(--font-primary);
  font-size: var(--font-size-md); /* 18px */
  line-height: 1.5;
  font-weight: var(--font-weight-medium);
}

.u-text-medium {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm); /* 16px */
  line-height: 1.5;
  font-weight: var(--font-weight-medium);
}
