.saints__accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-border-color: #d9d9d9;
  --bs-accordion-btn-bg: transparent;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-color: var(--text-color);
  --bs-accordion-active-color: var(--text-color);

  border-top: 1px solid #d9d9d9;
  max-width: 51.25rem;
  width: 100%;
  margin: 0 auto;
}

.saints__accordion-item {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  border: none;
  width: 100%;
  margin-bottom: 1rem;
}

.saints__accordion-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.saints__accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.saints__accordion-button::after {
  display: none;
}

.saints__accordion-body {
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
}
